Problem 1: Find the Multiplication of 2 numbers.

In [2]:
2 * 3

[1] 6

Problem 2: Find the Subtraction of 2 numbers.

In [3]:
4 - 1

[1] 3

Problem 3: Add 2 to the given number.

In [4]:
a <- 1
a+2

[1] 3

Problem 4: Create a data frame

In [6]:
df = data.frame(Emp_Name = c("Jai", "David", "Michael"),
               Job_role = c("Manager", "Team lead", "Developer"))
print(df)

  Emp_Name  Job_role
1      Jai   Manager
2    David Team lead
3  Michael Developer